<html>
  <head>
    <title>Account Suspended</title>
  </head>
  <body>
    <h2>Hello {{name}},</h2>
    <p>Your account (role: {{role}}) has been <b>suspended</b> by the Owner.</p>
    <p>If you believe this is a mistake, please contact the administrator.</p>
    <br />
    <p>Regards,<br />Data Sentry Team</p>
  </body>
</html>