<html>
  <head>
    <title>Account Unsuspended</title>
  </head>
  <body>
    <h2>Hello {{name}},</h2>
    <p>Your account (role:
      {{role}}) has been
      <b>unsuspended</b>
      by the Owner.</p>
    <p>You can now login and use the system again.</p>
    <br />
    <p>Regards,<br />Data Sentry Team</p>
  </body>
</html>